:root {
  --textTitleBlack: #262626;
  --textPrimaryBlack: #595959;
  --textSecondaryBlack: #8C8C8C;
  --borderBlack: #D9D9D9;
  --disable: #BFBFBF;
  --greyPrimary: #5D7092;
  --greySecondary: #C2C8D5;
  --bluePrimary: #5B8FF9;
  --blueSecondary: #BDD2FD;
  --lightBluePrimary: #6DC8EC;
  --lightBlueSecondary: #B6E3F5;
  --greenPrimary: #5AD8A6;
  --greenSecondary: #BDEFDB;
  --darkGreenPrimary: #269A99;
  --darkGreenSecondary: #AAD8D8;
  --yellowPrimary: #F6BD16;
  --yellowSecondary: #FBE5A2;
  --orangePrimary:#FF9D4D;
  --orangeSecondary: #FFD8B8;
  --redPrimary: #E8684A;
  --redSecondary: #F6C3B7;
  --pinkPrimary: #FF99C3;
  --pinkSecondary: #FFD6E7;
  --purplePrimary: #9270CA;
  --purpleSecondary: #D3C6EA;
}