html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.global-padding-xs {
  padding-left: 8px;
  padding-right: 8px;
}

.global-padding-sm {
  padding-left: 20px;
  padding-right: 20px;
}

.global-padding-md-or-larger {
  padding-left: 50px;
  padding-right: 50px;
}
