.ant-carousel .media-viewer .slick-track {
  background-color: black;
  display: flex;
  align-items: center;
}

.ant-carousel .media-viewer .slick-slide img {
  object-fit: contain;
  height: 100%;
}
