.feedPost-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px; 
  margin-bottom: 15px;
  height: fit-content;
  text-align: left;
  --feedPostIconButtonFontSize: 16px;
}

.feedPost-card .ant-card-actions li {
  margin-top: 0;
  margin-bottom: 0;
}

.feedPost-card button {
  width: 100%;
  height: 50px;
}

.feedPost-card button:hover {
  color: var(--textPrimaryBlack);
  background-color: #f5f5f5
}

.feedPost .comment-button-icon, .heart-button-icon, .share-button-icon {
  font-size: var(--feedPostIconButtonFontSize);
}

.feedPost-card .heart-button-icon-filled {
  color:#EC4C47;
  animation: blinkAnimation 0.675s;
  font-size: var(--feedPostIconButtonFontSize);
}

@keyframes blinkAnimation {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.25, 1.25);
  }
  100% {
      transform: scale(1,1);
  }
}
