.home-page > .ant-carousel .slick-slide {
  min-height: 100vh;
  max-height: 100vh;
	line-height: 160px;
	text-align: center;
  background: #364d79;
  overflow: hidden;
}

.home-page > .ant-carousel .slick-slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}