.feedPost-vertical-view .feedPost {
  width: 100%;
  text-align: left;
  --feedPostIconButtonFontSize: 20px;
}

.feedPost-vertical-view .feedPost-media {
  width: 100%;
  min-height: 50vw;
  max-height: 100vw;
}

.feedPost-vertical-view .feedPost-media .ant-carousel .slick-slide {
	text-align: center;
  max-width: 100vw;
  max-height: 100vw;
  overflow: hidden;
}

.feedPost-vertical-view .feedPost-media .ant-carousel .slick-track {
  display: flex !important;
  align-items: center;
}

.feedPost-vertical-view .feedPost-media .ant-carousel .slick-slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: 50% 50%;
  height: 100%;
  width: 100%;
}

.ant-btn-icon-only {
  background-color: white;
  border-style: none;
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
  color: inherit;
  border-style: none;
}

[ant-click-animating-without-extra-node]:after {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

.feedPost-vertical-view .feedPost .comment-button-icon, .heart-button-icon, .share-button-icon {
  font-size: var(--feedPostIconButtonFontSize);
}

.feedPost-vertical-view .feedPost .heart-button-icon-filled {
  color:#EC4C47;
  font-size: var(--feedPostIconButtonFontSize);
  animation: blinkAnimation 0.675s;
}

@keyframes blinkAnimation {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.25, 1.25);
  }
  100% {
      transform: scale(1,1);
  }
}

.feedPost-vertical-view .feedPost .number-of-likes {
  float: right;
  padding-right: 8px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedPost-vertical-view .feedPost .content {
  padding: 0px 8px;
}