.expansion-text-panel button {
  border: none;
  font-size: 0.9em;
  color: grey;
  background: none;
  padding: 0px;
  margin: 0.1em 0px;
}

.expansion-text-panel button:focus {
  outline: none;
}

.expansion-text-panel button:hover {
  cursor: pointer;
}