.feedPost-horizontal-view {
  display: flex;
  flex-direction: column;
}

.feedPost-horizontal-view .header {
  width: 100vw;
  height: 70vh;
  background-color: black;
  --img-max-height: 67.5vh;
}

.feedPost-horizontal-view .image-container {
  display: flex !important;
  align-items: center;
  max-height: var(--img-max-height);
}

.feedPost-horizontal-view .ant-carousel .slick-slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 100%;
  max-height: var(--img-max-height);
}

.feedPost-horizontal-view .ant-carousel .slick-dots-bottom {
  bottom: -4vh;
}

.feedPost-horizontal-view .body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 75vw;
}

.feedPost-horizontal-view .body  .heart-button-icon-filled {
  color:#EC4C47;
  font-size: var(--feedPostIconButtonFontSize);
  animation: blinkAnimation 0.675s;
}

@keyframes blinkAnimation {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.25, 1.25);
  }
  100% {
      transform: scale(1,1);
  }
}