.container {
  position: fixed;
  display: flex;
  max-width: 100vw;

  /* Variables */
  --right-width: 360px;
  --navigation-bar-height: 64px;
}

.left {
  background-color: black;
  width: calc(100vw - var(--right-width));
}

.right {
  background-color: aliceblue;
  width: var(--right-width);
  height: calc(100vh - var(--navigation-bar-height));
  overflow-y: auto;
}

.center-container {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  width: 100vw;
  height: calc(100vh - var(--navigation-bar-height));
  overflow-y: auto;
}

.center {
  width: 700px;
}