.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author { 
  font-size: 1.1em;
}

.timestamp {
  font-size: 0.7em;
}

.message {
  margin: 16px 0px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
}
